<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BNEX{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Outros links para estilos ou scripts comuns podem ser adicionados aqui -->
</head>
<body>
    <!-- Conteúdo específico de cada página será inserido aqui -->
    {% block content %}
    {% endblock %}
</body>
</html>